@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: content-box;
  scroll-behavior: smooth;
}

a {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

.go-top {
  position: absolute;
  bottom: 0;
  right: 0;
  color: $secondary;

  i {
    font-size: 3rem;
  }
}
