.empire-state {
  border-top: 2px solid rgb(100, 100, 100);
  position: relative;
  z-index: 10;
  background-color: white;
  flex-direction: column;

  & * {
    z-index: 100;
    position: relative;
  }

  .container {
    position: relative;
    flex-direction: column;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 4rem;
    margin-top: 4rem;

    @include phone {
      width: 100%;
      padding: 0;
      margin-top: 2rem;
    }

    @include tablet {
      margin-top: 2rem;
      padding-top: 2rem;
    }

    .title {
      background: rgba(240, 240, 240, 0.9);
      border-radius: 10px;
      width: 400px;
      text-align: center;
      padding: 2rem;
      transition: all 0.3s ease-in-out;
      color: $primary;

      @include phone {
        width: 300px;
        background: transparent;
        padding: 1rem;
      }

      &:hover {
        background: rgb(100, 100, 100);
        color: $third;
      }

      &:hover h2 {
        border-color: $third;
      }

      h2 {
        font-size: 1.3rem;
        color: inherit;
        border-bottom: 1px solid $primary;
      }
    }

    .content {
      margin-top: 5rem;
      background: rgba(240, 240, 240, 0.9);
      padding: 2rem;
      border-radius: 1rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: rgb(100, 100, 100);
        color: $third;

        .about-info .info {
          border-color: $third;

          p {
            border-color: $third;
          }
        }
      }

      @include phone {
        flex-direction: column;
        margin-top: 2rem;
        background-color: transparent;
      }

      .about-info {
        margin-right: 3rem;

        .info {
          margin-top: 2rem;
          margin-left: 2rem;
          padding: 1rem;
          border-right: 1px solid $primary;
          margin-right: 1.5rem;

          @include phone {
            border: none;
            border-left: 1px solid $primary;
            margin-right: 0;
            margin-left: 1rem;
          }
        }

        @include phone {
          margin: 0;
        }

        @include phone {
          order: 2;
        }
      }

      .img-container {
        .img {
          // height: 500px;
          // width: 500px;
          border-radius: 10px;

          @include phone {
            height: 300px;
            width: 300px;
            margin-bottom: 2rem;
          }
        }

        @include phone {
          order: 1;
        }
      }
    }
  }
  .go-top {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2rem;

    i {
      font-size: 3rem;
      color: rgba(240, 240, 240, 0.9);
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
        color: $third;
      }

      @include phone {
        font-size: 2.5rem;
      }
    }

    @include phone {
      position: relative;
    }
  }
}
