.quotes {
  border-top: 2px solid grey;
  position: relative;
  z-index: 10;
  background: white;

  .container {
    position: relative;
    width: auto;
    min-height: 80vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    margin: 0 auto;

    .title {
      background: rgba(240, 240, 240, 0.9);
      border-radius: 10px;
      width: 500px;
      text-align: center;
      padding: 2rem;

      p {
        color: $primary;
        border-bottom: 1px solid $primary;
        font-size: 1.2rem;
      }

      @include phone {
        width: 300px;
        background: transparent;
      }
    }

    .quote-area {
      width: auto;
      height: auto;
      display: grid;
      justify-content: center;
      margin-top: 3rem;
      grid-template-columns: repeat(3, 480px);
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 2rem;

      .box {
        width: 450px;
        padding: 1rem;
        box-shadow: 2px 3px 10px;
        border-radius: 15px;

        .profile {
          flex-direction: column;
          padding: 1rem;
          word-wrap: none;
          width: 120px;
          margin-right: 0.5rem;
          text-align: center;

          img {
            border-radius: 50%;
            width: 80px;
            height: 80px;

            @include phone {
              width: 50px;
              height: 50px;
            }
          }

          p {
            font-size: 1.1rem;
            font-weight: 500;
            color: $primary;

            @include phone {
              font-size: 1rem;
            }
          }

          @include phone {
            width: auto;
          }
        }

        .quote {
          border-left: 2px solid $primary;
          padding: 1rem;

          p {
            font-size: 1rem;
          }
        }

        @include phone {
          width: auto;
          box-shadow: 0 -6px 10px 2px;
        }

        @include tablet {
          width: auto;
        }
      }

      @include phone {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
      }

      @include tablet {
        justify-content: center;
        margin-top: 3rem;
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1rem;
      }
    }

    @include phone {
      padding: 1rem;
    }

    @include tablet {
      padding: 1rem;
    }
  }
  .go-top {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2rem;

    i {
      font-size: 3rem;
      color: rgba(240, 240, 240, 0.9);
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
        color: $third;
      }

      @include phone {
        font-size: 2.5rem;
      }
    }

    @include phone {
      position: relative;
    }
  }

  @include phone {
    flex-direction: column;
  }
}

.box1 {
  grid-column: 2 / -1;
}
